body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: rgb(0, 175, 0);
    background-color: #000000;
}

pre.gameOverFont{
    height: 120px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 175, 0);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.gameWin {
    background-color: #001100;
}

.ltr {
    float: left;
    margin: 5px;
    border: 1px solid #001100;
    
}

.gameWord{
    font-size: 32px;
    letter-spacing: 5px;
    margin-top: 80px;
}


.fWidth{
    width: 350px;
}

